bam
.bam
config.lua
datasrc/__pycache__
datasrc/*.pyc
objs
src/game/generated/*
!src/game/generated/server_data.cpp
SDL.dll
freetype.dll
saves.db

crapnet*
dilate*
fake_server*
map_resave*
map_version*
mastersrv*
packetgen*
teeworlds*
teeworlds_srv*
tileset_border*
versionsrv*

.idea
.vs
cmake-build-debug
Debug
CMakeLists.txt
EXP.*
exp_config.cfg
exp_srv.lnk

